body
	style= style

	table(class=leng)
		tr
			td.header
				include includes/header.pug
		tr
			td.description
				include includes/whiteTextBlock.pug
		tr
			td.grid
				include includes/eightBlocks.pug

		tr
			td.footer
				include includes/footer.pug