DOCTYPE
	html
		head
			meta(charset="UTF-8")
			meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
			meta(name="description" content="Все о digital signature")
			meta(name="title" content="Все о digital signature клнтент digital signature digital signature лучшие цены топ кликнуть по ссылке чтоб перейти")
		body
			div(id="container")
				script(src="./build/build.min.js")
			//style= style

			//table(class=leng)
				//- tr
				//- 	td.header
				//- 		include includes/header.pug
				//- tr
				//- 	td.description
				//- 		include includes/whiteTextBlock.pug
				//- tr
				//- 	td.grid
				//- 		include includes/eightBlocks.pug

				//- tr
				//- 	td.footer
				//- 		include includes/footer.pug